@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

main {
  margin-top: 60px;
}

/* -------------------------------Header------------------------------ */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.flexcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  /* Adjust logo size */
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #007bff;
}

.search-icon {
  font-size: 18px;
  cursor: pointer;
}

/*---------------------------footer----------------------------  */
.footer {
  background-color: #181818;
  padding: 40px 0 0 0;
  color: #999;
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #303030;
}

.stat {
  text-align: center;
}

.stat i {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  margin: 5px 0;
  font-size: 20px;
}

p {
  color: #bbb;
}

/* -------------------------blog --------------------------------- */

.author-card {
  background: white;
  width: 300px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.author-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #555;
  margin-bottom: 10px;
  position: relative;
}

.author-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #ddd;
  margin: 5px auto 0;
}

.author-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 0;
}

.author-name {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}


.highlight {
  color: #000;
  text-decoration: underline;
}

.author-desc {
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}

.blog-card {
  display: flex;
  background: white;
  width: 700px;
  padding: 15px;
  margin: 20px 20px 20px 0;
  border-bottom: 1px solid #666;
}

.blog-image {
  margin-right: 20px;
}

.blog-image img {
  width: 250px;
  height: 190px;
  object-fit: cover;
}

.blog-content {
  flex: 1;
}

.blog-title {
  font-size: 20px;
  font-weight: bold;
}

.emoji {
  font-size: 18px;
}

.blog-meta {
  font-size: 12px;
  color: gray;
  margin: 5px 0;
}

.icon {
  margin-right: 5px;
}

.blog-description {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.read-more {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  border: 1px solid black;
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin-top: 12px;
  transition: all 0.3s ease;
}

.read-more:hover {
  background: black;
  color: white;
}

.popular-posts {
  max-width: 300px;

}

.popular-posts h2 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #555;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}

.popular-posts h2::before,
.popular-posts h2::after {
  content: "";
  display: inline-block;
  width: calc(100% - 240px);
  height: 2px;
  background: #ddd;
  position: relative;
  top: -5px;
  margin: 0 10px;
}

.popular-post {
  position: relative;
  color: white;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}

.postimgcontainer {
  height: 300px;
  height: 150px;
}

.postimgcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.popular-post-content {
  position: absolute;
  top: 32%;
  left: 34%;
}

.popular-post-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.popular-post-date {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 10px;
}

.related-posts {
  max-width: 800px;
  padding: 20px;
}

.related-posts h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.related-posts h3::after {
  content: "";
  display: inline-block;
  width: 600px;
  height: 1px;
  position: relative;
  background: rgb(216, 216, 216);
  top: -5px;
  margin-left: 11px;
}

.posts {
  display: flex;
  gap: 20px;
}

.post {
  flex: 1;
}

.post img {
  width: 100%;
  height: auto;
}

.post a {
  text-decoration: none;
  color: #0073e6;
  font-size: 18px;
  display: block;
  margin-top: 10px;
}

.post a:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: none;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.button:hover {
  background: black;
  color: white;
}

.post span::after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 1px;
  position: relative;
  background: rgb(216, 216, 216);
  top: -5px;
  margin-left: 11px;
}

.categories {
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 0;
  font-weight: bold;
}

.categories::after,
.categories::before {
  content: "";
  display: inline-block;
  width: calc(100% - 220px);
  height: 2px;
  background: #ddd;
  position: relative;
  top: -5px;
  margin: 0 10px;
}

.category-list {
  list-style-type: none;
  padding: 0;
  width: 200px;
}

.category-list li {
  padding: 5px 10px;
  cursor: pointer;
  border-left: 2px solid transparent;
  transition: 0.3s;
}

.category-list li:hover {
  border-left: 2px solid black;
}

.expandable {
  cursor: pointer;
}