@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin-top: 75px;
}

/* -------------------------------Header------------------------------ */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.flexcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #9a9999;
}


nav ul {
  list-style: none;
  display: flex;
  margin: 0 !important;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #9a9999;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #007bff;
}

.search-icon {
  font-size: 18px;
  cursor: pointer;
  color: #9a9999;
}

/*---------------------------footer----------------------------  */
.footer {
  background-color: #181818;
  padding: 40px 0 0 0;
  color: #999;
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 10px;
}

.stat {
  text-align: center;
}

.stat i {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  margin: 5px 0;
  font-size: 20px;
}

.footer p {
  color: #bbb;
  margin-bottom: 0;
}

/* --------------------------Home page------------------------ */
.authorHeader {
  margin-top: 50px;
}

.authorHeader h1 {
  font-size: 32px;
  font-weight: bold;
  color: #565656;
  margin-bottom: 10px;
  text-align: center;
}

.underline {
  width: 150px;
  height: 2px;
  background-color: #b0b0b0;
  margin: 10px auto 20px auto;
}

.authorHeader p {
  font-size: 18px;
  color: #555;
}

.Authorcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.image-container {
  padding: 10px;
  height: 400px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  color: #555;
  padding-left: 20px;
}

.content h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.content p {
  margin: 10px 0;
}

.list {
  list-style: none;
  padding: 0;
}



.list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.list li i {
  font-size: 16px !important;
  margin-right: 10px !important;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: red;
  text-decoration: none;
  margin-right: 10px;
}

.social-links a:hover {
  text-decoration: underline;
}

.about-company {
  display: flex;
  color: #555;
  text-align: justify;
  flex-direction: row;
  margin-bottom: 50px;
}

.aboutHeader {
  margin: 50px 0 12px 0;
}

.aboutHeader h5 {
  color: #555;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
}

.about-read-more {
  padding: 10px 20px;
  border: 1px solid #cfcece;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-read-more a {
  color: #4e4e4e;
  text-decoration: none;
}

.about-content {
  width: 90%;
}

.about-content-images {
  max-height: 350px;
}

.about-content-images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home_card_wrapper {
  padding: 0 0 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.home_card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}

.home_card img {
  width: 100%;
  height: 200px;
}

.home_card_content {
  padding: 15px;
}

.home_card_category {
  color: #ff6600;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_card_category span {
  margin-left: 5px;
}

.home_card_date {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.home_card_title {
  font-size: 18px;
  margin-top: 10px;
}

.home_card_content a {
  text-decoration: none;
}

.home_card_title h4 {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 600;
  margin-bottom: 6px;
  color: #000;
}

.home_card_title p {
  color: #666;
}

.home_card_title a:hover {
  color: #ff6600;
}

/* ------------------------------Banner------------------------ */
.carouselconatiner {
  width: 100%;
  /* height: 500px; */
}

.carouselconatiner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_blog {
  padding: 150px 15px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
  width: 100%;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.4);
}


/* -------------------------blog --------------------------------- */
.bloglistcard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.author-card {
  background: white;
  width: 300px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.author-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #555;
  margin-bottom: 10px;
  position: relative;
}

.author-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #ddd;
  margin: 5px auto 0;
}

.author-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 0;
}

.author-name {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}


.highlight {
  color: #000;
  text-decoration: underline;
}

.author-desc {
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}

.blog-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 5fr));

  margin: 20px 20px 20px 0;
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid #666;
}

.blog-image {
  margin-right: 20px;
}

.blog-image img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.blog-title {
  font-size: 20px;
  font-weight: bold;
}

.emoji {
  font-size: 18px;
}

.blog-meta {
  font-size: 12px;
  color: gray;
  margin: 5px 0;
}

.icon {
  margin-right: 5px;
}

.blog-description {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.read-more {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  border: 1px solid black;
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin-top: 12px;
  transition: all 0.3s ease;
}

.read-more:hover {
  background: black;
  color: white;
}

.popular-posts {
  max-width: 300px;

}

.popular-posts h2 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #555;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}

.popular-posts h2::before,
.popular-posts h2::after {
  content: "";
  display: inline-block;
  width: calc(100% - 240px);
  height: 2px;
  background: #ddd;
  position: relative;
  top: -5px;
  margin: 0 10px;
}

.popular-post {
  position: relative;
  color: white;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}

.postimgcontainer {
  height: 300px;
  height: 150px;
}

.postimgcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.popular-post-content {
  position: absolute;
  top: 32%;
  left: 34%;
}

.popular-post-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.popular-post-date {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 10px;
}

.related-posts {
  max-width: 800px;
  padding: 20px;
}

.related-posts h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.related-posts h3::after {
  content: "";
  display: inline-block;
  width: 600px;
  height: 1px;
  position: relative;
  background: rgb(216, 216, 216);
  top: -5px;
  margin-left: 11px;
}

.posts {
  display: flex;
  gap: 20px;
}

.post {
  flex: 1;
}

.post img {
  width: 100%;
  height: auto;
}

.post a {
  text-decoration: none;
  color: #0073e6;
  font-size: 18px;
  display: block;
  margin-top: 10px;
}

.post a:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: none;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.button:hover {
  background: black;
  color: white;
}

.post span::after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 1px;
  position: relative;
  background: rgb(216, 216, 216);
  top: -5px;
  margin-left: 11px;
}

.categories {
  margin-bottom: 10px;
  padding: 5px 0;
  font-weight: bold;
}

.category-list {
  list-style-type: none;
  padding: 0;
  width: 200px;
}

.category-list li {
  padding: 5px 10px;
  cursor: pointer;
  border-left: 2px solid transparent;
  transition: 0.3s;
}

.category-list li:hover {
  border-left: 2px solid black;
}

.expandable {
  cursor: pointer;
}

/* -----------------publiser------------------- */
.publiservideo {
  border-radius: 10px;
  margin-top: 100px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.publiservideo video {
  width: 100% !important;
  height: 80vh;
}

.product-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 20px;
  padding: 50px 0;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: fill;
}

.product-details {
  flex: 1;
}

.product-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.author {
  color: #0073e6;
  text-decoration: none;
}

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  .carouselconatiner {

    height: 250px;
  }

  .publiservideo video {
    height: 200px;

  }

  .authorHeader {
    margin-top: 25px;
  }

  .Authorcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: justify;
    font-size: 15px;
  }

  .content {
    padding-left: 0
  }

  .content h2 {
    font-size: 20px;
  }

  .image-container {
    padding: 0px;
    height: 300px;
  }

  .authorHeader p {
    font-size: 15px;
    text-align: justify;
  }

  .image-container img {
    padding-bottom: 10px;
  }

  .about-company {
    flex-direction: column-reverse;
  }

  .about-content {
    width: 100%;
  }

  .about-content p {
    font-size: 15px;

  }
}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .carouselconatiner {

    height: 350px;
  }

  .image-container {
    height: 442px;
  }
}

/* Desktop (1024px and above) */
@media (min-width: 1024px) {
  .carouselconatiner {
    height: 80vh;
  }
}

@media (max-width: 991px) {
  .offcanvas-header {
    border-bottom: 1px solid #a5a5a5;
  }

  .home_card_wrapper {

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .blog-card {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .blog-content {
    padding-top: 10px;
  }

  .slidenav-url-group {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .slidenav-url-group li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .slidenav-url-group li a {
    color: #999;
    text-decoration: none;
  }

  .product-container {
    grid-template-columns: 1fr;
  }

  .read-more {
    margin-bottom: 10px;
  }

  .stats-container {
    flex-direction: column;
  }
}